:root {
	--pozadi: lightskyblue;
	--score: red;
}

html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: var(--pozadi);
	background-repeat: repeat;
	background-image: url('obrazky/pozadi/swirl.png');
}

#score {
	position: absolute;
	top: 50px;
	left: 50px;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 36px;
	z-index: 900;
	color: var(--score);
}

#panacek,
#mince {
	position: absolute;
}

#panacek {
	z-index: 1;
}





.introbox {
	background-color: #fafafa;
	padding: 30px 50px;
	width: 800px;
	border-radius: 20px;
	box-shadow: 3px 3px 18px 8px #8f8f8f;
	position: absolute;
	left: 50%;
	margin-left: -400px;
	top: 15%;
	z-index: 999;
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}

.introbox__text {
	text-align: center;
	font-size: 22px;
	font-family: 'Inconsolata', sans-serif;
}

.introbox__button {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 5px 50px;
	border-radius: 5px;
	background-color: #f1f527;
	box-shadow: 1px 1px 10px 1px #8f8f8f;
	color: rgb(0, 0, 0);
	font-family: 'Inconsolata', sans-serif;
	font-size: 22px;
}

.introbox__imgwrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 50px;
	padding: 20px;
}


@media screen and (max-width: 950px) {
	.introbox {
		width: 500px;
		left: 50%;
		margin-left: -250px;
		top: 10%;
	}

	.introbox__imgwrap {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		row-gap: 20px;
	}

	.introbox__img {
		width: 150px;
	}
}